<footer class="global-footer">
  <div class="fluid-width mobile-full-width">
    <div class="footer-branding">
      <h2 class="pilot-text">From <strong>Lantas Tech</strong> with <span class="fa fa-heart"></span></h2>
    </div>

    <div class="float-right footer-social-links">
      <a target="_blank" href="https://twitter.com/Yello_App"
         class="footer-social-link">
        <i class="fa fa-twitter-square"></i>
      </a>
      <a target="_blank" href="https://www.facebook.com/Yello-1665522477018012/timeline/"
         class="footer-social-link">
        <i class="fa fa-facebook-square"></i>
      </a>
    </div>

    <div class="footer-nav-links float-right">
      <a class="footer-nav-link hover-color" target="_blank" href="mailto:lantastechnologies@gmail.com">Contact Us</a>
      <a class="footer-nav-link hover-color" active-link="active-footer-link" href="#content/tandc">Terms
        of Service</a>
      <a class="footer-nav-link hover-color" active-link="active-footer-link" href="#content/privacypolicy">Privacy
        Policy</a>
    </div>
  </div>
</footer>