<footer class="footer fluid-width mobile-full-width">
  <div class="footer-nav-links float-left">
    <p class="pilot-text float-right">
      From <strong>Lantas Tech</strong> with <i class="fa fa-heart"></i>
    </p>
  </div>

  <span ng-show="showShouldScrollArrow">
    <a href="" class="down-arrow hover-fill velocity-animating"  ng-click="changeSection()">
      <i class="fa fa-chevron-down" ng-if="!upArrow"></i>
      <i class="fa fa-chevron-up" ng-if="upArrow"></i>
    </a>
  </span>

  <div class="float-right footer-social-links">
    <a target="_blank" href="https://twitter.com/Yello_App"
       class="footer-social-link hover-fill">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a target="_blank" href="https://www.facebook.com/Yello-1665522477018012/timeline/"
       class="footer-social-link hover-fill">
      <i class="fa fa-facebook-square"></i>
    </a>
  </div>

  <div class="footer-nav-links float-right">
    <a class="footer-nav-link hover-color" target="_blank" href="mailto:lantastechnologies@gmail.com">Contact Us</a>
    <a class="footer-nav-link hover-color" active-link="active-footer-link" href="#content/tandc">Terms
      of Service</a>
    <a class="footer-nav-link hover-color" active-link="active-footer-link" href="#content/privacypolicy">Privacy
      Policy</a>
  </div>
</footer>